<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fi.aardsoft.devicefarmsample">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <application android:label="Devicefarm sample application">
    <activity android:name="SampleActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <uses-library android:name="android.test.runner" />
  </application>
  <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner" android:targetPackage="fi.aardsoft.devicefarmsample"/>
</manifest>
